
thead,
tbody,
tfoot,
tr,
td,
th {
  padding: 10px;
}

.sombraNav{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px #4d3d3dc9;
}
.sombra {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px #605a5ac9;
}



/*CLASES COMUNES*/
.negrita{
  font-weight: bold;
}
.enlace{
  text-decoration: none;
  color: black;
}
.error{
  color:red;
}

.ocultar{
  display: none;
}
.tituloR a{
  text-decoration: none;
  color:black;
}

.botonSubir{
  border-radius: 10px;
}

/*hechas estas dos clases para poner el footer abajo, una dice que es flex el padre, y otra que el contenedor del template
crecerá para ocupar el maximo espacio del contenido*/
#container{
  display: flex;
  flex-direction: column;
}

.grow{
  flex-grow: 1;
  width: 90%;
  margin: 0 auto;
}
/*BUSCADOR- PRINCIPAL*/
.buscador{
  border-radius:25px;
  text-align: center;
  padding: 0.5em;
  margin:0.5em 0;
  background-color: var(--color2);
  display: flex;
  justify-content: center;
}
/*PUBLICACIONES*/
#publicacionesPadre{
  margin-top: 4em;
}


.publicaciones, .titulo{
  text-align: center;
  background-color: black;
}

.publicaciones a ,.titulo a{
  text-decoration: none;
  color: white;
  width: 100%;
}

img{
  width: 100%;
}
.titulo{
  background-color: var(--colorMoradoOscuro);
  color: white;
  padding: 0.5em;
}
.titulo > a{
  color:white;
}

/*PERFIL*/
.perfil{
  width: 92%;
  margin: 3% auto;
  background-color: white;
  margin-bottom: 25px;
  border-radius: 25px;
  padding: 0.5em;
}
.perfil a{
  text-decoration: none;
  color: white;
  margin-left: 1em;
}
.perfil h1, .perfil p{
  text-align: center;
}
.perfil img{
  margin: 0 auto;
  width: 35%;
  border-radius: 50%;
}

.favoritos{
  text-align: center;
  width: 85%;
  margin:2em auto;
  background-color: var(--color2);
  color: white;
  border-radius: 25px;
  padding: 0.5em 0;
}
.favoritos p{
  text-align: left;
  padding-left: 2em;
}
.favoritos a{
  text-decoration: none;
  color:white;
}
/*CONFIGURACION USUARIO*/
.configuracion {
  width: 70%;
  margin: 25px auto;
  background-color: var(--color2);
  color: white;
  margin-bottom: 25px;
  border-radius: 25px;
  padding: 1em ;
  text-align: center;
}
.configuracion div > div{
  width: 98%;
}
.configuracion label, .configuracion input{
  width: 100%;
  text-align: center;
}

.configuracion input[type='submit']{
  width: 100px;
}

.configuracion input:nth-last-of-type(1){
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom:0.5em;
}

/*LOGIN*/
.login {
	display: inline-block;
  text-align: center;
  height: 40%;
  padding-top: 5%;
	margin:4em auto;

}

.login input[type=text], .login input[type=password]{
	margin: 0 auto;
}

#registrate,#olvidadoContraseña{
	text-decoration: none;
	color: black;
	margin:0 auto;
}

/*REGISTRATE*/
.registro{
  background-color: var(--color2);
  color:white;
  border-radius: 25px;
  text-align: center;
  margin: 25px auto;
  width: 80%;
  padding:1em;
}

.registro label,.registro input,.registro textarea{
  width: 90%;
  margin:0.5em 0;
}
.registro label{
  font-size: 1.2em;
}
.registro textarea{
  height: 50px;
}
.registro input[type='submit']{
  width: 138px;
}

.registro input:nth-last-of-type(1) , h1{
  text-align: center;
  display: block;
  margin:auto;
  margin-bottom:0.5em;
}

/*RECUPERA PASS*/
.recuperaPass{
  margin:2em auto;
  text-align: center;
  width: 80%;
  padding: 1em;
  background-color: var(--color2);
  color:white;
  border-radius: 25px;
}
/*ADMIN*/
.tablas{
  text-align: center;

}
.tablas table{
  margin:2em auto;
}
.tablas a{
  text-decoration: none;
  color: var(--colorTexto1);
}
.tablas img{
  width: 50px;
  height: 55px;
  color:var(--colorTexto1);
}
.tablas thead{
  background-color: var(--colorMoradoOscuro);
  color:white;
}
.tablas tbody{
  background-color: var(--colorTabla1);
}

.tablas tbody tr:nth-child(odd){
  background-color: var(--colorTabla2);
}

/*Página Error*/
.errorBuscador img{
  width: 80%;
}

.errorBuscador p{
  margin: 0 auto;
  text-align: center;
}
.errorBuscador img{
  width: 30%;
  margin:1em auto;
}

#imagen{
  font-size: 40px;
}

/*PUBLICACION*/
#btn1 /*input[type='checkbox']*/ { display: none;  }

    .contenedor1 {  margin: 1.2rem 0;  }
    
    

    .lbl-toggle1 {
        display: block;
        font-weight: bold;
        font-family: monospace;
        font-size: 1.2rem;
        text-transform: uppercase;
        text-align: center;
        padding: 1rem;
        color: #DDD; /*gris/blanco*/
        background: black; /*#004085;*/ /*azul oscuro*/
        cursor: pointer;
        border-radius: 7px;
        transition: all 0.25s ease-out;
    }

      .lbl-toggle1:hover {  color: #5781f9; /*#FFF; blanco/gris*/ }

      .lbl-toggle1::before {
          content: ' ';
          display: inline-block;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 5px solid currentColor;
          vertical-align: middle;
          margin-right: .7rem;
          transform: translateY(-2px);
          transition: transform .2s ease-out;
      }

  .toggle1:checked + .lbl-toggle1::before {  transform: rotate(90deg) translateX(-3px); }

  .contenido-esconder1 {
      max-height: 0px;
      overflow: hidden;
      transition: max-height .25s ease-in-out;
  }

  .toggle1:checked + .lbl-toggle1 + .contenido-esconder1 {  max-height: 350px;  }

  .toggle1:checked + .lbl-toggle1{
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }

  .contenido-esconder1 .contenido {
      padding: 1rem;
  }

  .contenido-esconder1 form{  margin-bottom: 0;  }

/*MEDIAS QUERYS*/
@media only screen and (min-width: 767px) {

  .display5{
    display: flex;
  }
/* BUSCADOR */
  .buscador{
    display: flex;
    flex-direction: row;
  }
  .buscador select{
    flex-basis: 20%;
    height: 35px;
    margin-top:12px;
  }

  .buscador p{
    flex-basis: 60%;
  }

  .buscador p input{
    text-align: center;
    width: 90%;
  }
  .buscador > input{
    flex-basis: 4%;
    height: 35px;
  }

  /*PRINCIPAL*/
  .encabezado{
    margin:0 auto;
    height: 60px;
    width: 90%;
  }

  /* REGISTRATE*/
  .registro{
    width: 60%;
  }
  .registro label,.registro input,.registro textarea{
    width: 90%;
    margin:0.5em;
  }
  /*PERFIL*/
  .perfil{
    width: 100%;
  }
  /*CONFIGURACION PERFIL*/
  .configuracion{
    width: 100%;
  }
  
  .publicacion{
    flex-basis: 30%;
    margin: 0 auto;
    padding: 10px;
  }
  .publicaciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .publicaciones5 > a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  img {
    width: 100%;
  }
  .publicaciones5{
    flex-basis: 20%;
    margin: 5px;
  }
  .grow{
    margin:0 auto;
  }
  #comentario{
    width: 95%;

  }
}
@media only screen and (min-width: 1200px) {
  
  .grow{
    margin-top: 10em;
  }
  /*ADMIN*/
  .tablas table{
    width: 80%;
  }
  .tablas thead th{
    padding: 1em;
  }
  .ocultar{
    display:table-cell;
  }
  /*PERFIL*/
  .perfil{
    width: 100%;
  }
  .favoritos{
    width: 100%;
  }
  /*CONFIGURACION*/
  .configuracion{
    width: 100%;
  }
}
